@-webkit-keyframes caret {
  50% {
    border-color: transparent;
  }
}

@keyframes caret {
  50% {
    border-color: transparent;
  }
}

.intro {
  display: inline-block;
  border-right: 0.05em solid #526d7a;
  -webkit-animation: caret 1s steps(1) infinite;
          animation: caret 1s steps(1) infinite;
}
